*{
    border: 1px solid rgb(225, 0, 0);
}


.container-1{
    border: 11px solid black;
    padding: px;
    display: flex;

    flex-direction: row;


   }

   .one{
    border: 1px solid rgb(39, 87, 20);
  
    flex: 1;
   }

   .two{
    border: 1px solid rgb(158, 205, 139);
  
    flex: 2;
   }

   .container-2{
    border: 11px solid rgb(82, 13, 142);
    padding: px;
    display: flex;
    
    flex-direction: column;


   }


   .container-3{
    border: 11px solid rgb(11, 224, 239);
    padding: px;
    display: flex;
   
    flex-direction: column;


   }