*{
    border: px solid rgb(253, 0, 0);
    
}

:any-link{
color: #5d5d5d;

  }

  hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
 

  a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
  
body{
    margin:0;
    font-family: cambria;
    color: #5d5d5d;
}

h1,h2,h3{
    color: #5d5d5d;
}

ul 
{
    list-style-type: none;
}

#container-1{
    display: flex;
flex-direction: column;
flex-wrap: wrap;
/* background-image: url('file:///C:/Users/johnc/Desktop/Git_Repos/My_Portfolio/Images/pexels-cottonbro-studio-5185159.jpg'); */
background-image: url('file:///C:/Users/johnc/Desktop/Git_Repos/My_Portfolio/Images/pexels-fauxels-3184450.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

img {
    border-radius: 50%;
  }

#title{color:#ffffff;
       font-size: 56px; 
       font-weight: bolder;
       color: #000000;
       text-shadow: 
         1px 0px 1px #ccc, 0px 1px 1px #eee, 
         2px 1px 1px #ccc, 1px 2px 1px #eee,
         3px 2px 1px #ccc, 2px 3px 1px #eee,
         4px 3px 1px #ccc, 3px 4px 1px #eee,
         5px 4px 1px #ccc, 4px 5px 1px #eee,
         6px 5px 1px #ccc, 5px 6px 1px #eee,
         7px 6px 1px #ccc;
}

.box-1{
    text-align: center;
    overflow: hidden;
    justify-content: center;
}
 


#container-2{
    display: flex;
    flex-direction: column;
background-color:#fff;
}

#box-2{

    text-align: center;
    overflow: hidden;
}

#box-3{
    background-color:#fff;
    text-align: center;
    overflow: hidden;
}

#box-4{
    text-align: center;
    overflow: hidden;
}


.contact-box {
    border-radius: 5px;
    padding: 20px;
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: rgb(243, 243, 243);
    font-family: cambria;
  }

  .button{
    background-color: #fff;
    color: #5d5d5d;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    border: solid 3px #efefef;
    color: #787878;
    font-family: cambria;
  }

  .button:hover{
    background-color: rgb(126, 235, 129);
  }

  /* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #fff;
    color: #787878;
    padding: 12px 20px;
    border: solid 3px #efefef;
    border-radius: 4px;
    cursor: pointer;
    font-family: cambria;
  }

  input[type=submit]:hover {
    background-color: rgb(126, 235, 129);
  }

#container-3{
    color:#787878;
    display: flex;
    flex-direction: column;
}

.box-5{
    text-align: center;
    overflow: hidden;
    justify-content: center;
    
}